/* Document status pills
 ========================================================================== */

.pill {
  &[resource="http://data.lblod.info/document-statuses/concept"]::after {
    background-color: #B2B2B2;
  }
  &[resource="http://data.lblod.info/document-statuses/goedgekeurd"]::after {
    background-color: #333333;
  }
  &[resource="http://data.lblod.info/document-statuses/opmerking"]::after {
    background-color: #FEE539;
  }
  &[resource="http://data.lblod.info/document-statuses/verstuurd"]::after {
    background-color: #0F68C9
  }
  &[resource="http://data.lblod.info/document-statuses/prullenbak"]::after {
    background-color: #B2B2B2;
  }
}
