{{title "Beschikbare subsidies - Nieuwe subsidieaavraag"}}
<div class="container-flex--contain">
	<div class="u-border--light--bottom u-padding--tb--small u-padding--rl--tiny">
		<div class="grid u-spacer--tiny">
			<div class="col--6-12">
				{{#link-to "subsidiebeheer.subsidies" class="link--dark smaller"}}<i class="fa fa-angle-left"></i> Naar overzicht lopende aanvragen{{/link-to}}
			</div>
			<div class="col--6-12 u-align-right">
				<p class="smaller">Ingediend vandaag om 11:26 <span class="pill pill--small pill--primary-blue">Ingediend</span></p>
			</div>
		</div>
		<div class="grid">
			<div class="col--6-12">
				<h1>Subsidieaanvraag </h1>
				<h2 class="h6">Gesubs Infra - Investeringssubsidie gebouwen erediensten en niet confessionele dienstverlening 2019</h2>
			</div>
			<div class="col--6-12 u-align-right">
				<div class="button-group">
{{!-- 					<div class="popover js-popover" id="popover-0"> <!--  js-popover--open-->
						<button class="button button--link button--link--dark button--narrow" type="button" aria-expanded="true" aria-controls="popover-0">Meer</button>
						<ul class="popover__content">
							<li>
								<a class="popover__link" href="#"><i class="fa fa-print"></i> Print</a>
							</li>
							<li>
								<a class="popover__link" href="#"><i class="fa fa-plug"></i> Trek aanvraag in</a>
							</li>
						</ul>
					</div> --}}
					<button class="button button--alt button--narrow">Print subsidieaanvraag</button>
					{{!-- <button class="button button--narrow">Aanvraag indienen</button> --}}
		    	{{!-- {{#link-to "subsidiebeheer.subsidies.disabled" class="button button--narrow"}}Aanvraag indienen{{/link-to}} --}}
					{{!-- <button class="button button--narrow button--disabled">Aanvraag indienen <span class="button__info button__info--below">Mogelijk vanaf 12.11.2019</span></button> --}}
				</div>
			</div>
		</div>
	</div>
	<div class="container-flex--contain">
		<div class="grid grid--collapse">
			<div class="col--3-12 col--4-12--m u-hidden--s">
				<div class="container-flex--contain">
					<div class="sidebar">
						<div class="sidebar__content">
							<nav class="side-navigation">
								<div class="side-navigation__content">
									<ul class="side-navigation__group">
										<li class="side-navigation__item">
											{{#link-to "subsidiebeheer.subsidies.disabled"}}Details subsidie{{/link-to}}
										</li>
										<li class="side-navigation__item">
											{{#link-to "subsidiebeheer.subsidies.new.contactgegevens"}}Contactgegevens{{/link-to}}
										</li>
										<li class="side-navigation__item">
											{{#link-to "subsidiebeheer.subsidies.new.dossier"}}Korte samenvatting{{/link-to}}
										</li>
										<li class="side-navigation__item">
											{{#link-to "subsidiebeheer.subsidies.new.financien"}}Financiën{{/link-to}}
										</li>
										<li class="side-navigation__item">
											{{#link-to "subsidiebeheer.subsidies.new.aanvraagformulier"}}Aanvraagformulier{{/link-to}}
										</li>
										<li class="side-navigation__item">
											{{#link-to "subsidiebeheer.subsidies.new.beslissing"}}Beslissing{{/link-to}}
										</li>
									</ul>
								</div>
							</nav>
						</div>
							<div class="sidebar__footer u-align-center">
							<button href="mailto:abb@vlaanderen.be" class="button button--alt button--small button--block"><i class="vi vi-mail"></i> Contacteer dossierbehandelaar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col--9-12 col--8-12--m u-hidden--s">
				<div class="container-flex--scroll u-padding--round">

					<div class="alert alert--small alert--success">
					  <div class="alert__icon" aria-hidden="true"></div>
				    <div class="alert__title">Ingediend op 23-12-2019</div>
						<div class="alert__message">
							<p>U ontvangt de beslissing over uw subsidieaanvraag zo snel mogelijkt. U kan het dossier niet aanpassen. Voor vragen, <a href="#" class="link--dark">neem contact op met de dossierbehandelaar</a>.</p>
						</div>
					</div>

					<label class="form__label u-spacer--tiny">Details subsidie</label>
					<div class="u-padding--round--small u-background--gray-lightest u-spacer">
						<div class="u-spacer">
							<div class="grid description-data u-spacer--tiny">
								<div class="col--4-12 description-data__label">Projectinformatie</div>
								<div class="col--8-12 description-data__value"><a href="https://lokaalbestuur.vlaanderen.be/node/1891" target="_blank">https://lokaalbestuur.vlaanderen.be/node/1891</a></div>
							</div>
							<div class="grid description-data u-spacer--tiny">
								<div class="col--4-12 description-data__label">Startdatum indienen</div>
								<div class="col--8-12 description-data__value">12.11.2019</div>
							</div>
							<div class="grid description-data u-spacer--tiny">
								<div class="col--4-12 description-data__label">Einddatum indienen</div>
								<div class="col--8-12 description-data__value">12.11.2020</div>
							</div>
							<div class="grid description-data u-spacer--tiny">
								<div class="col--4-12 description-data__label">Reeks</div>
								<div class="col--8-12 description-data__value">Kwartaal 1 2019</div>
							</div>
							<div class="grid description-data u-spacer--tiny">
								<div class="col--4-12 description-data__label">Maatregel</div>
								<div class="col--8-12 description-data__value">Slim in de stad</div>
							</div>
							<div class="grid description-data u-spacer--tiny">
								<div class="col--4-12 description-data__label">Wettelijk kader</div>
								<div class="col--8-12 description-data__value">Decreet, beslissing Minister, subsidiegids</div>
							</div>
							<div class="grid description-data u-spacer--tiny">
								<div class="col--4-12 description-data__label">Dossiernummer</div>
								<div class="col--8-12 description-data__value">SUB2019.000591</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
  </div>
</div>
