{{title "Beschikbare subsidiemaatregelen"}}
<div class="u-border--light--bottom loket-onderdeel__header">
  <div class="u-padding--round--small">
  	<h1 class="h4 u-spacer--none">Beschikbare subsidiemaatregelen</h1>
  	<p class="smaller u-spacer--tiny">Kies een van de subsidiemaatregelen om een nieuwe aanvraag te starten.</p>
    <div class="grid">
      <div class="col--6-12 col--1-1--s">
        <div class="input-field-icon-container--right">
          {{input
              type="text"
              placeholder="Zoek subsidiemaatregel"
              key-up=(perform search)
              value=searchData
              class="input-field input-field--block"
          }}
          <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
      	<div class="button-group">
      		{{#link-to "subsidiebeheer.subsidies.overview-filled" class="button button--narrow button--alt u-spacer--none"}}Terug naar overzicht lopende aanvragen{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-flex--scroll">
  <table class="data-table data-table--nowrap">
    <thead>
      <tr class="data-table__header">
        <th><a class="data-table__header-title--sortable">Subsidiemaatregel</a> <i class="data-table__header-title__sort-icon vi-u-link-after vi-long-arrow vi"></i></th>
        <th><a class="data-table__header-title--sortable">Reeks</a></th>
        <th><a class="data-table__header-title--sortable">Informatie subsdiemaatregel</a></th>
        <th><a class="data-table__header-title--sortable">Start termijn</a></th>
        <th><a class="data-table__header-title--sortable">Einde termijn</a></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
{{!--     	<tr>
    		<td class="u-align-center u-padding--round--small" colspan="6">
    			<p class="text-fade u-spacer--tiny">Geen beschikbare subsidiemaatregelen.</p>
    			<p class="text-fade">Subsidiemaatregelen waarvan u al gestart bent met de aanvraag, kan u vinden in het {{#link-to "subsidiebeheer.subsidies"}}overzicht{{/link-to}}.</p>
				</td>
    	</tr> --}}
    	<tr>
    		<td>Slim in de Stad 2019 {{!-- Titel: subsidiemaatregel aanbod titel + reeks --}}</td>
    		<td>2019</td>
    		<td>
    			<a href="http://www.stedenbeleid.vlaanderen.be/projectoproep-slim-in-de-stad-2018" target="_blank">http://www.stedenbeleid.vlaanderen.be/projectoproep-slim-in-de-stad-2019</a>
    			<p class="text-fade smaller u-spacer--top--tiny"><i class="fa fa-external-link"></i> Externe link</p>
    		</td>
    		<td>6-12-2019</td>
    		<td>23-11-2020</td>
    		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
    	</tr>

{{!--     	<tr>
    		<td>Slim in de Stad 2019</td>
    		<td>Kwartaal&nbsp;1&nbsp;2019</td>
    		<td>
    			<a href="https://lokaalbestuur.vlaanderen.be/node/1891" target="_blank">https://lokaalbestuur.vlaanderen.be/node/1891</a>
    			<p class="text-fade smaller u-spacer--top--tiny"><i class="fa fa-external-link"></i> Externe link</p>
    		</td>
    		<td>27-12-2019</td>
    		<td>23-11-2020</td>
    		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
    	</tr>
    	<tr>
    		<td>Projectsubsidie Gelijke kansen</td>
    		<td>Kwartaal&nbsp;1&nbsp;2019</td>
    		<td>
    			<a href="http://www.gelijkekansen.be/Portals/Gelijke Kansen/subsidies/Subsidiegids2015-2019.pdf" target="_blank">http://www.gelijkekansen.be/Portals/Gelijke Kansen/subsidies/Subsidiegids2015-2019.pdf</a>
    			<p class="text-fade smaller u-spacer--top--tiny"><i class="fa fa-external-link"></i> Externe link</p>
    		</td>
    		<td>27-12-2019</td>
    		<td>23-11-2020</td>
    		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
    	</tr>
    	<tr>
    		<td>Subsidie Projecten voor Brussel (Subsidiegids)</td>
    		<td>Kwartaal&nbsp;1&nbsp;2019</td>
    		<td>
    			<a href="http://brussel.vlaanderen.be/subsidiegids.html" target="_blank">http://brussel.vlaanderen.be/subsidiegids.html</a>
    			<p class="text-fade smaller u-spacer--top--tiny"><i class="fa fa-external-link"></i> Externe link</p>
    		</td>
    		<td>27-12-2019</td>
    		<td>23-11-2020</td>
    		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
    	</tr>
    	<tr>
    		<td>Ad nominatim subsidie Brussel</td>
    		<td>Kwartaal&nbsp;1&nbsp;2019</td>
    		<td>
    			<a href="http://brussel.vlaanderen.be/subsidies-info.html" target="_blank">http://brussel.vlaanderen.be/subsidies-info.html</a>
    			<p class="text-fade smaller u-spacer--top--tiny"><i class="fa fa-external-link"></i> Externe link</p>
    		</td>
    		<td>27-12-2019</td>
    		<td>23-11-2020</td>
    		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
    	</tr>
    	<tr>
    		<td>Facultatieve subsidie faciliteitengemeenten</td>
    		<td>Kwartaal&nbsp;1&nbsp;2019</td>
    		<td>
    			<a href="http://vlaamserand.be/subsidies/subsidie-faciliteitengemeente" target="_blank">http://vlaamserand.be/subsidies/subsidie-faciliteitengemeente</a>
    			<p class="text-fade smaller u-spacer--top--tiny"><i class="fa fa-external-link"></i> Externe link</p>
    		</td>
    		<td>27-12-2019</td>
    		<td>23-11-2020</td>
    		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
    	</tr> --}}
    </tbody>
  </table>
</div>
<div class="data-table__actions data-table__actions--bottom">
	<div class="data-table-pagination">
		<div class="pager">
			<ul class="pager__list">
				<li class="pager__element u-hidden-mobile">
					<span class="u-visually-hidden">Rij </span><strong>1 - 4</strong> van 4
				</li>
			</ul>
		</div>
	</div>
</div>

{{outlet}}
