{{title "Beschikbare subsidiemaatregelen"}}
<div class="grid grid--collapse">
	<div class="col--7-12 container-flex--contain u-border--light--right">
    <div class="u-border--light--bottom loket-onderdeel__header">
      <div class="u-padding--round--small">
      	<h1 class="h4 u-spacer--none">Beschikbare subsidiemaatregelen</h1>
      	<p class="smaller u-spacer--tiny">Kies een van de subsidiemaatregelen om een nieuwe aanvraag te starten.</p>
        <div class="grid">
          <div class="col--6-12 col--1-1--s">
            <div class="input-field-icon-container--right">
              {{input
                  type="text"
                  placeholder="Zoek subsidiemaatregel"
                  key-up=(perform search)
                  value=searchData
                  class="input-field input-field--block"
              }}
              <i class="input-field__icon vi vi-magnifier" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
          	<div class="button-group">
          		{{#link-to "subsidiebeheer.subsidies" class="button button--narrow button--alt u-spacer--none"}}Terug naar overzicht{{/link-to}}
	          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-flex--scroll">
      <table class="data-table data-table--nowrap">
        <thead>
          <tr class="data-table__header">
            <th><a class="data-table__header-title--sortable">Subsidiemaatregel</a> <i class="data-table__header-title__sort-icon vi-u-link-after vi-long-arrow vi"></i></th>
            <th style="min-width: 10rem;"><a class="data-table__header-title--sortable">Termijn</a></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

		    	<tr>
		    		<td>Slim in de Stad 2019 {{!-- Titel: subsidiemaatregel aanbod titel + reeks --}}</td>
		    		<td>6-12-2019 - 23-11-2020</td>
		    		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
		    	</tr>
{{!--         	<tr>
        		<td class="u-align-center u-padding--round--small" colspan="5">
        			<p class="text-fade u-spacer--tiny">Geen Beschikbare subsidiemaatregelen.</p>
        			<p class="text-fade">Subsidies waarvan u al gestart bent met de aanvraag, kan u vinden in het {{#link-to "subsidiebeheer.subsidies"}}overzicht{{/link-to}}.</p>
						</td>
        	</tr>
        	<tr>
        		<td>Slim in de Stad 2019</td>
        		<td>27-12-2019 -<br>23-11-2020</td>
        		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
        	</tr>
        	<tr>
        		<td>Projectsubsidie Gelijke kansen</td>
        		<td>27-12-2019 -<br>23-11-2020</td>
        		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
        	</tr>
        	<tr>
        		<td>Subsidie Projecten voor Brussel (Subsidiegids)</td>
        		<td>27-12-2019 -<br>23-11-2020</td>
        		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
        	</tr>
        	<tr>
        		<td>Ad nominatim subsidie Brussel</td>
        		<td>27-12-2019 -<br>23-11-2020</td>
        		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
        	</tr>
        	<tr>
        		<td>Facultatieve subsidie faciliteitengemeenten</td>
        		<td>27-12-2019 -<br>23-11-2020</td>
        		<td>{{#link-to "subsidiebeheer.subsidies-beschikbaar.view"}}Bekijk{{/link-to}}</td>
        	</tr> --}}
        </tbody>
      </table>
		</div>
		<div class="data-table__actions data-table__actions--bottom">
			<div class="data-table-pagination">
				<div class="pager">
					<ul class="pager__list">
						<li class="pager__element u-hidden-mobile">
							<span class="u-visually-hidden">Rij </span><strong>1 - 4</strong> van 4
						</li>
					</ul>
				</div>
			</div>
		</div>
  </div>
  <div class="col--5-12 container-flex--contain">
  	<div class="u-padding--trl--small u-border--light--bottom">
  		<div class="grid">
  			<div class="col--9-12">
  				{{!-- <label class="u-spacer--small pill">Dossiernummer: SUB2019.000591</label> --}}
  				<h2 class="h6 u-spacer--tiny">Slim in de Stad 2019 {{!-- Titel: subsidiemaatregel aanbod titel + reeks --}}</h2>
  				<p class="u-spacer--small small text-fade">Termijn: van 6-12-2019 tot 20-12-2019</p>
  			</div>
  			<div class="col--3-12 u-align--right">
  				{{#link-to "subsidiebeheer.subsidies-beschikbaar" data-test-loket="close-button" class="link--icon--close"}}
  					<span class="u-visually-hidden">Venster sluiten</span>
  				{{/link-to}}
  			</div>
  		</div>
  	</div>

		<div class="u-padding--round--small container-flex--scroll">
			<div class="u-spacer">
				<div class="description-data u-spacer--tiny">
					<div class="description-data__label">Informatie subsdiemaatregel</div>
					<div class="description-data__value"><a href="http://www.stedenbeleid.vlaanderen.be/projectoproep-slim-in-de-stad-2018" target="_blank">http://www.stedenbeleid.vlaanderen.be/projectoproep-slim-in-de-stad-2019</a></div>
				</div>
				<div class="description-data u-spacer--tiny">
					<div class="description-data__label">Reeks</div>
					<div class="description-data__value">2019</div>
				</div>
				<div class="description-data u-spacer--tiny">
					<div class="description-data__label">Wettelijk kader</div>
					<div class="description-data__value">Decreet, beslissing Minister, subsidiegids</div>
				</div>
			</div>
		</div>

    <!-- TODO: move this to seperate create/edit/view templates  -->
    <div class="u-padding--round--small u-border--light--top">
    	{{#link-to "subsidiebeheer.subsidies.new" class="button button--narrow"}}Start aanvraag{{/link-to}}
    	{{#link-to "subsidiebeheer.subsidies-beschikbaar" data-test-loket="close-button" class="button button--narrow button--alt"}}Sluit venster{{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
