<div class="grid">
	<div class="col--10-12">

		<div class="form__row">
			<h2 class="u-spacer--tiny">Voeg ondertekende beslissing van het College van Burgemeester en Schepenen toe</h2>

			<label class="form__label">Geef de link in naar het online bestand</label>
			<div class="form__row u-spacer">
				<table class="data-table u-spacer--bottom--tiny u-border--light--round">
					<tbody data-test-mn="url-box-list">
						<tr>
							<td>
								<div class="u-align-center">
									<p class="u-spacer--tb--tiny">Nog geen links toegevoegd.</p>
									<button class="button u-spacer--bottom--tiny">
										<i class="vi vi-plus button__icon" aria-hidden="true"></i> Voeg nieuwe link toe
									</button>
									<div>
										<p class="small u-spacer--top--tiny">Enkel links naar specifieke documenten, geen overzichtspagina's.</p>
										<p class="small u-spacer--bottom--tiny"><sup>*</sup>Op het moment van versturen, wordt er een versie<br>
										gedownload van de pagina die op de link te vinden is.</p>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<label class="form__label"><strong>Of</strong> laad bestand op</label>
			<div class="form__row">
				<div data-upload-allow-drop="" class="upload js-upload js-upload-bound ember-view is-optional">
					<div class="upload__element ember-view">
						<label class="upload__element__label">
							<i class="vi vi-paperclip"></i> <span>Bestanden toevoegen</span>
							<small>Sleep de bestanden naar hier om toe te voegen</small>
							<label for="file-input-98771" class="file-upload ember-view">
								<input id="file-input-98771" multiple="" hidden="" type="file"></label>
							</label>
					</div>
				</div>
			</div>
      <p class="smaller text-fade">Maximaal 1024 MB per bestand. Best geen .zip, .exe of .rar bestanden opladen.</p>
    </div>

  </div>
</div>
{{outlet}}
