{{!--
<div class="alert alert--small">
  <div class="alert__title">Ingediend op 23-12-2019</div>
	<div class="alert__message">
		<p>U kan het dossier niet aanpassen in deze status voor vragen, <a href="#" class="link--dark">neem contact op met de dossierbehandelaar</a>.</p>
	</div>
</div>

<div class="alert alert--small alert--warning">
  <div class="alert__title">Aanvraag aanvaard, mits aanpassingen.</div>
	<div class="alert__message">
		<p>Volgende aanpassingen zijn vereist:
			<ul class="bullet-list">
				<li>toevoegen van beslissing college burgemeester en schepenen</li>
				<li>nog iets</li>
			</ul>
			Pas uw subsidieaanvraag aan binnen de X dagen, en dien het opnieuw in met de knop rechtsboven. Voor vragen, <a href="#" class="link--dark"> neem contact op met de dossierbehandelaar</a>.
		</p>
	</div>
</div>

<div class="alert alert--small alert--error">
  <div class="alert__title">Aanvraag niet aanvaard.</div>
	<div class="alert__message">
		<p>U kan het dossier niet aanpassen in deze status voor vragen, <a href="#" class="link--dark">neem contact op met de dossierbehandelaar</a>.</p>
	</div>
</div>

<div class="alert alert--small alert--success">
  <div class="alert__title">Aanvraag aanvaard.</div>
	<div class="alert__message">
		<p>U kan het dossier niet meer aanpassen. Voor vragen, <a href="#" class="link--dark">neem contact op met de dossierbehandelaar</a>. Een officiële brief wordt opgestuurd. (? extra info nodig over boodschap)</p>
	</div>
</div> --}}
<h2 class="u-spacer--tiny">Details subsidie</h2>

<div class="u-padding--round--small u-background--gray-lightest u-spacer">
	<div class="u-spacer">
		<div class="grid description-data u-spacer--tiny">
			<div class="col--4-12 description-data__label">Projectinformatie</div>
			<div class="col--8-12 description-data__value"><a href="https://lokaalbestuur.vlaanderen.be/node/1891" target="_blank">https://lokaalbestuur.vlaanderen.be/node/1891</a></div>
		</div>
		<div class="grid description-data u-spacer--tiny">
			<div class="col--4-12 description-data__label">Startdatum indienen</div>
			<div class="col--8-12 description-data__value">12.11.2019</div>
		</div>
		<div class="grid description-data u-spacer--tiny">
			<div class="col--4-12 description-data__label">Einddatum indienen</div>
			<div class="col--8-12 description-data__value">12.11.2020</div>
		</div>
		<div class="grid description-data u-spacer--tiny">
			<div class="col--4-12 description-data__label">Reeks <span class="text-fade">(duidelijker in lijst)</span></div>
			<div class="col--8-12 description-data__value">Kwartaal 1 2019</div>
		</div>
		<div class="grid description-data u-spacer--tiny">
			<div class="col--4-12 description-data__label">Maatregel <span class="text-fade">(duidelijker in lijst)</span></div>
			<div class="col--8-12 description-data__value">Slim in de stad</div>
		</div>
		<div class="grid description-data u-spacer--tiny">
			<div class="col--4-12 description-data__label">Wettelijk kader <span class="text-fade">(regelgeving URI)</span></div>
			<div class="col--8-12 description-data__value">Decreet, beslissing Minister, subsidiegids</div>
		</div>
	</div>
</div>
