<th style="max-width: 12rem;">{{cells.firstObject.educationalLevel.label}}</th>
{{#each cells as |cell|}}
  <td>
    {{input class="input-field input-field--block" type="number" value=(mut cell.value) name="quantity"}}
  </td>
{{/each}}
<td><strong>{{total}}</strong></td>
