<div class="container-flex--contain">
  <div class="u-border--light--bottom">
    <div class="u-padding--trl--small">
      <h1 class="h4 u-spacer--tiny">Personeelsbeheer {{this.model.bestuurseenheid.classificatie.label}} {{this.model.bestuurseenheid.naam}}</h1>
      <div class="grid">
        <div class="col--6-12 col--1-1--s">
          <p class="text-light">Overzicht aantallen</p>
        </div>
        <div class="col--6-12 col--1-1--s u-align-right--tablet-portrait-up">
        </div>
      </div>

      {{!--
         TODO
         <div class="alert alert--tiny alert--warning u-spacer--top--tiny">
         <div class="alert__icon" aria-hidden="true"></div>
         <div class="alert__content">
         <div class="alert__title">Actie vereist</div>
         <div class="alert__message">
         <p>Gelieve de aantallen die niet actueel zijn voor dit jaar aan te passen.</p>
         </div>
         </div>
         </div>
         --}}

    </div>
  </div>

  <div class="container-flex--scroll u-padding--round">
    {{#each model.datasets as |dataset|}}
      <div class="u-spacer">
        {{personeelsdatabank/employee-dataset-overview-card dataset=dataset}}
      </div>
    {{/each}}
  </div>
</div>
